appnope==0.1.2
backcall==0.2.0
boolean-parser==0.1.1
Brotli==1.0.9
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cycler==0.10.0
dash==1.19.0
dash-bootstrap-components==0.11.3
dash-core-components==1.15.0
dash-html-components==1.1.2
dash-renderer==1.9.0
dash-table==4.11.2
decorator==4.4.2
Flask==1.1.2
Flask-Caching==1.9.0
Flask-Compress==1.9.0
future==0.18.2
google-cloud-bigquery==1.26.1
google-cloud-bigquery-storage==1.0.0
google-cloud-bigtable==1.4.0
google-cloud-core==1.3.0
google-cloud-dataproc==1.1.1
google-cloud-datastore==1.12.0
google-cloud-firestore==1.8.1
google-cloud-kms==1.4.0
google-cloud-language==1.3.0
google-cloud-logging==1.15.1
google-cloud-monitoring==1.1.0
google-cloud-pubsub==1.7.0
google-cloud-scheduler==1.3.0
google-cloud-spanner==1.17.1
google-cloud-speech==1.3.2
google-cloud-storage==1.30.0
google-cloud-tasks==1.5.0
google-cloud-translate==2.0.2
google-cloud-videointelligence==1.15.0
google-cloud-vision==1.0.0
gunicorn==19.9.0
idna==2.10
inflection==0.5.1
ipython==7.21.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.18.0
Jinja2==2.11.3
kiwisolver==1.3.1
MarkupSafe==1.1.1
matplotlib==3.3.4
numpy==1.20.1
pandas==1.2.2
parso==0.8.1
pexpect==4.8.0
pg8000==1.16.5
pickleshare==0.7.5
Pillow==8.1.2
plotly==4.14.3
prompt-toolkit==3.0.17
psycopg2-binary==2.8.6
ptyprocess==0.7.0
Pygments==2.8.1
pyparsing==2.4.7
python-dateutil==2.8.1
pytz==2021.1
redis==3.5.3
requests==2.25.1
retrying==1.3.3
scipy==1.6.1
seaborn==0.11.1
six==1.15.0
SQLAlchemy==1.3.23
traitlets==5.0.5
urllib3==1.26.4
wcwidth==0.2.5
Werkzeug==1.0.1
xlsxwriter==1.3.7
dash_extensions==0.0.45
zeep=4.0.0